# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environment
# ==========================================

venv/
.venv/
env/

# ==========================================
# Environment Variables
# ==========================================

.env
.env.*

!.env.example

# ==========================================
# RSA Keys
# ==========================================

app/keys/private.pem
app/keys/public.pem

# ==========================================
# Alembic
# ==========================================

*.pyc

# ==========================================
# macOS
# ==========================================

.DS_Store

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# Logs
# ==========================================

*.log

# ==========================================
# Testing
# ==========================================

.pytest_cache/
.coverage
htmlcov/

# ==========================================
# Build
# ==========================================

dist/
build/